body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.979), rgb(150, 66, 77));
}

.col-md-4 h3 {
  font-weight: bold;
}

.col-md-8 h3 {
  font-style: italic;
}

.panel-body img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.panel-body {
background-color: rgb(212, 201, 205);
}

a {
  background-color: black;
  color: rgb(190, 185, 176);
}

a:hover {
  color:red
}

#bold {
  font-weight: bold;
}

.jumbotron {
  color: antiquewhite;
  background-color: rgb(83, 63, 63);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}